.background {
  width: 100%;
  height: auto;
  background-color: $dark;
  background-image: url("../img/background@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .background {
    width: 100%;
    height: auto;
    background-image: url("../img/background@1x.png");
    background-size: cover;
    background-position: center top;
    margin: 0 auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .background {
    width: 100%;
    height: auto;
    background-image: url("../img/background@1x.png");
    background-size: cover;
    background-position: center center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background@2x.png");
    }
  }
}
