body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "ptmono", "Arial", sans-serif;
  font-size: 15px;
  background-color: #ffffff;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.full-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
