.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  max-width: 1411px;
  margin: 0 auto;
  // box-sizing: border-box;
  padding: 66px 2% 0 2%;
  flex-grow: 1;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -3px;
}

.page-footer__nav-wrapper {
  display: flex;
  width: 70%;
  // justify-content: space-between;
}

.page-footer__nav {
  width: 53%;
}

.page-footer__info {
  display: flex;
}

.page-footer__logo {
  display: flex;
  color: #203c42;
  height: 52px;
  margin-right: 14.4%;
}

.page-footer__logo-name {
  font-family: "RobotoCondensed-Bold", "Arial", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
  padding-left: 15px;
  padding-top: 4px;
}

.page-footer__logo-translation {
  font-family: "Roboto-Regular", "Arial", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  margin: 0;
  padding-left: 17px;
  padding-top: 2px;
}

.page-footer__list,
.page-footer__adress p {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  padding: 0;
  margin: 0;
  font-family: "ptmono", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__adress {
  width: 33.3%;
  margin-left: auto;
}

.page-footer__sections,
.page-footer__adress-name {
  margin: 0;
  padding-bottom: 24px;
  padding-left: 3px;
  font-family: "RobotoCondensed-Regular", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.page-footer__social {
  width: 131px;
  height: 28px;
  margin-top: -73px;
  margin-left: -3px;
}

.page-footer__rights,
.page-footer__copyright,
.page-footer__conditions,
.page-footer__studio {
  margin: 0;
  margin-top: 0;
  font-family: "ptmono", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__rights {
  padding-right: 53px;
}

.page-footer__copyright {
  padding-right: 141px;
}

.page-footer__studio {
  margin-left: auto;
}

.page-footer__line {
  border-top: 1px solid #626962;
  opacity: 0.2;
  width: 100%;
  margin-top: -40px;
}

@media (max-width: $tablet-width) {
  .page-footer__logo {
    order: 1;
    margin: 0;
    padding: 0;
  }

  .page-footer__copyright {
    order: 2;
    padding: 0;
    margin-top: 17px;
    margin-left: 87px;
    margin-right: 0;
  }

  .page-footer__social {
    order: 3;
    margin: 0;
    margin-top: 12px;
    margin-left: auto;
    width: auto;
  }

  .page-footer__nav-wrapper {
    margin-top: 64px;
    margin-left: -3px;
    margin-bottom: 106px;
    order: 4;
  }

  .page-footer {
    display: flex;
    // box-sizing: border-box;
    flex-wrap: wrap;
    width: 93%;
    max-width: 950px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    padding-top: 19px;
  }

  .page-footer__logo-name {
    padding: 6px 0 0 15px;
    margin: 0;
  }

  .page-footer__logo-translation {
    padding-top: 0;
    padding-left: 14px;
  }

  .page-footer__adress {
    width: 482px;
    margin-left: auto;
  }

  .page-footer__nav {
    width: 400px;
    margin-right: 112px;
  }

  .page-footer__studio {
    margin-left: 278px;
  }

  .page-footer__studio,
  .page-footer__conditions {
    margin-top: 6px;
    margin-bottom: 0;
  }

  .page-footer__line {
    margin-top: -70px;
  }

  .page-footer__rights {
    display: none;
  }

  .page-footer__list,
  .page-footer__adress p {
    width: auto;
    height: auto;
    flex-wrap: nowrap;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    width: auto;
    // margin: 0 auto;
    padding-left: 17px;
    padding-right: 17px;
  }

  .page-footer__wrapper {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-footer__logo {
    margin-top: 27px;
  }

  .page-footer__copyright {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .page-footer__social {
    margin-top: 33px;
    margin-left: 0;
  }

  .page-footer__list {
    display: none;
  }

  .page-footer__nav-wrapper {
    align-self: flex-start;
    flex-direction: column;
    margin-top: 54px;
    margin-bottom: 51px;
  }

  .page-footer__sections {
    position: relative;
    padding-bottom: 29px;
    padding-left: 0;
    padding-top: 29px;
    border-top: 1px solid rgba(#626962, 0.2);
    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .page-footer__info {
    flex-direction: column;
    align-self: center;
  }

  .page-footer__studio {
    margin-left: 0;
    padding-bottom: 0;
  }

  .page-footer__line {
    margin-top: -108px;
  }

  .page-footer__adress {
    padding-top: 25px;
  }

  .page-footer__adress p,
  .page-footer__list {
    width: 246px;
  }

  .page-footer__adress-name {
    position: relative;
    padding-bottom: 32px;
  }

  .page-footer__conditions,
  .page-footer__studio {
    margin: 0 auto;
    padding-top: 7px;
  }
}
