.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 64px 0 14px 0;
  flex-grow: 1;
}

.page-footer__copyright--show {
  display: none;
}

.page-footer__social--show {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  width: 100%;
  // width: 29.7%;
  flex-wrap: nowrap;
  flex-direction: column;
}

.page-footer__top-container {
  width: 100%;
  border-bottom: 1px solid rgba(#626962, 0.2);
}

.page-footer__top-wrapper {
  width: 29.7%;
  display: flex;
}

.page-footer__top {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 1414px;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 58px;
}

.page-footer__nav-wrapper {
  display: flex;
  width: 70%;
}

.page-footer__nav {
  width: 53%;
}

.page-footer__nav a {
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__bottom {
  display: flex;
  margin: 0 auto;
  max-width: 1414px;
  padding-top: 17px;
  padding-right: 2%;
  padding-left: 2%;
}

.page-footer__bottom p {
  margin: 0;
}

.page-footer__wrapper .logo {
  display: flex;
  color: #203c42;
  height: 52px;
  margin-right: 14.6%;
  margin-bottom: 55px;
  text-decoration: none;
}

.page-footer__logo span {
  display: block;
  margin: 0;
}

.page-footer__logo div {
  margin-left: 15px;
  margin-top: 4px;
}

.page-footer__logo-name {
  font-family: "RobotoCondensed-Bold", "Arial", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
}

.page-footer__logo-translation {
  font-family: "Roboto-Regular", "Arial", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  margin: 0;
}

.page-footer__list,
.page-footer__adress p {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  padding: 0;
  margin: 0;
  font-family: "ptmono", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(#1b2d37, 0.5);
  text-decoration: none;
}

.page-footer__adress {
  width: 33.3%;
  margin-left: auto;
  margin-right: 3px;
}

.page-footer__nav h2,
.page-footer__adress h2 {
  margin: 0;
  margin-bottom: 24px;
  margin-left: 3px;
  font-family: "RobotoCondensed-Regular", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.page-footer__social {
  height: 28px;
}

.page-footer__rights,
.page-footer__copyright,
.page-footer__conditions,
.page-footer__studio {
  margin: 0;
  margin-top: 0;
  font-family: "ptmono", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(#1b2d37, 0.5);
}

.page-footer__rights {
  padding-right: 53px;
}

.page-footer__copyright {
  padding-right: 141px;
}

.page-footer__studio {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .page-footer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 23px;
  }

  .page-footer__top-wrapper {
    width: 100%;
    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .page-footer__wrapper {
    display: flex;
    width: 100%;
    max-width: 950px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__top {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }

  .page-footer__wrapper .logo {
    order: 1;
    margin: 0;
    margin-right: 16px;
    padding: 0;
  }

  .page-footer__copyright {
    order: 2;
    padding: 0;
    margin: 0;
    margin-top: 3px;
  }

  .page-footer__social {
    order: 3;
    margin: 0;
    margin-top: 12px;
    height: 39px;
  }

  .page-footer__nav-wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: 950px;
    height: auto;
    padding-top: 39px;
    margin-left: 0;
    justify-content: space-between;
    order: 4;
    padding-left: 25px;
    padding-right: 25px;
  }

  .page-footer__logo-name {
    padding: 2px 0 0 0;
    margin: 0;
  }

  .page-footer__logo-translation {
    padding-top: 0;
    padding-left: 0;
  }

  .page-footer__adress {
    width: 482px;
    margin-right: 21px;
    margin-left: auto;
  }

  .page-footer__nav {
    width: 400px;
    min-height: 250px;
    margin-right: 112px;
  }

  .page-footer__studio {
    margin-left: 278px;
  }

  .page-footer__studio,
  .page-footer__conditions {
    margin-top: 6px;
    margin-bottom: 0;
  }

  .page-footer__rights {
    display: none;
  }

  .page-footer__list,
  .page-footer__adress p {
    width: auto;
    height: auto;
    flex-wrap: nowrap;
  }

  .page-footer__bottom {
    padding-top: 17px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    max-width: 950px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__wrapper {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 41px;
  }

  .page-footer__top-wrapper {
    border: none;
  }

  .page-footer__wrapper .logo {
    margin-top: 27px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .page-footer__copyright {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 33px;
  }

  .page-footer__social {
    margin-top: 0;
    margin-left: 0;
  }

  .page-footer__nav {
    position: relative;
    width: 100%;
    min-height: auto;
    margin-right: 0;
    border-top: 1px solid rgba(#626962, 0.2);
    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .page-footer__nav-wrapper {
    align-self: flex-start;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .page-footer__nav h2 {
    position: relative;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 14px;
    padding-right: 17px;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      right: 17px;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
    }
  }

  .page-footer__bottom {
    flex-direction: column;
    align-self: center;
    margin-top: 0;
    padding-left: 14px;
    padding-right: 17px;
    padding-top: 28px;
  }

  .page-footer__studio {
    margin-left: 0;
    padding-bottom: 0;
  }

  .page-footer__adress {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 25px;
    margin-right: 0;
  }

  .page-footer__adress h2 {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 31px;
    padding-left: 14px;
    padding-right: 17px;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      right: 17px;
      width: 16px;
      height: 2px;
      background-image: url("../img/icon-minus.svg");
      background-repeat: no-repeat;
    }
  }

  .page-footer__adress p,
  .page-footer__list {
    width: 246px;
    padding-left: 14px;
    padding-right: 17px;
    box-sizing: border-box;
  }

  .page-footer__adress-name {
    position: relative;
    padding-bottom: 32px;
  }

  .page-footer__conditions,
  .page-footer__studio {
    margin: 0 auto;
    padding-top: 0;
  }

  .page-footer__conditions {
    margin-bottom: 23px;
  }

  .page-footer__list {
    display: none;
  }
}
