.services {
  width: 100%;
  background-color: $dark;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  padding: 89px 6% 106px 6.3%;
  box-sizing: border-box;
  max-width: 1411px;
  margin: 0 auto;
  flex-grow: 1;
}

.services h2 {
  font-family: "RobotoCondensed-Regular", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 52px;
}

.services__item {
  margin: 0;
  margin-right: 2.7%;
  text-decoration: none;
  padding: 50px 137px 0 41px;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  font-family: "RobotoCondensed-Regular", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 31.4%;
  height: 620px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 63px;
    height: 63px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    outline: 1px solid $blue;
  }
}

.services__item--parts {
  background-image: url("../img/services-3-desktop@1x.png");
  background-size: auto 642px;
  background-repeat: no-repeat;
  margin-right: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/services-3-desktop@2x.png");
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item--production {
  background-image: url("../img/services-1-desktop@1x.png");
  background-size: auto 642px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/services-1-desktop@2x.png");
  }
}

.services__item--install {
  background-image: url("../img/services-2-desktop@1x.png");
  background-size: auto 642px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/services-2-desktop@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .services__container {
    width: 100%;
    max-width: 950px;
    padding-top: 49px;
    padding-left: 25px;
    padding-right: 26px;
    padding-bottom: 80px;
  }

  .services__list {
    flex-direction: column;
    width: 100%;
  }

  .services__item {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 256px;
    padding: 39px 481px 0 45px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 0;
    margin-bottom: 45px;
  }

  .services__item--production {
    background-image: url("../img/services-1-tablet@1x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-1-tablet@2x.png");
    }
  }

  .services__item--install {
    background-image: url("../img/services-2-tablet@1x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-2-tablet@2x.png");
    }
  }

  .services__item--parts {
    background-image: url("../img/services-3-tablet@1x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-top: 52px;
    padding-right: 507px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-3-tablet@2x.png");
    }
  }

  .services h2 {
    font-size: 33px;
    line-height: 45px;
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .services__container {
    width: auto;
    align-items: center;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 36px;
    margin: 0 auto;
  }

  .services__item {
    width: 100%;
    height: 256px;
    padding-right: 63px;
    padding-left: 35px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin: 0 auto;
  }

  .services h2 {
    align-self: flex-end;
    font-size: 28px;
    line-height: 39px;
    margin-left: 10px;
    margin-bottom: 44px;
  }

  .services__item--production {
    background-image: url("../img/services-1-mobile@1x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-1-mobile@2x.png");
    }
  }

  .services__item--install {
    background-image: url("../img/services-2-mobile@1x.png");
    background-size: 100% auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-2-mobile@2x.png");
    }
  }

  .services__item--parts {
    background-image: url("../img/services-3-mobile@1x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 30px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services-3-mobile@2x.png");
    }
  }

  .services__list a {
    margin-bottom: 29px;
  }
}
